.preGameScreen {
  display: flex;
  height: 100vh;
  width: 100%;
  background: black;
  color: white;
  padding: 3rem 4rem;
  font-size: .9rem;
  @media(min-width: 768px) {
    font-size: 1rem;
  }

  .instructions {
    p {
      line-height: 1.9rem;
    }
    span {
      color: #79FFE1;
    }
    width: 100%;
    @media(min-width: 768px) {
      width: 50%;
    }
  }
}
